# Main dependency
-e git+https://github.com/levje/scilpy@levje/spams-upgrade#egg=scilpy

# Should be included with scilpy.
h5py>=3.10.*
scipy>=1.11.*
dipy>=1.10.*
nibabel>=5.2.*

# Specific dependencies
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
numpy==1.25.*
comet-ml>=3.22.0
pyyaml>=6.0 
nextflowpy>=0.11.0
torchmetrics>=1.7.1
seaborn>=0.13.2
pytest>=7.2.2